{
  "list": [
    {
      "id": "1",
      "name": "Procurement documents-5",
      "type": "FOLDER",
      "created": "2022-02-01 00:00:49.231+02",
      "createdBy": "Richard Feynman"
    },
    {
      "id": "2",
      "name": "For signing-1.asice",
      "type": "CONTAINER",
      "created": "2022-02-03 00:00:49.231+02",
      "createdBy": "Albert Einstein",
      "status": "SIGNING",
      "totalSigners": "3",
      "signedBy": "2",
      "version": "1"

    },
    {
      "id": "3",
      "name": "Inspection certificate.pdf",
      "type": "FILE",
      "created": "2022-02-05 00:00:49.231+02",
      "createdBy": "Ada Lovelace",
      "version": "3"

    },
    {
      "id": "4",
      "name": "For signing-3.asice",
      "type": "CONTAINER",
      "created": "2022-02-04 00:00:49.231+02",
      "createdBy": "Albert Einstein",
      "status": "DECLINED",
      "totalSigners": "4",
      "signedBy": "1",
      "version": "1"
    },
    {
      "id": "5",
      "name": "Procurement docs-6",
      "type": "FOLDER",
      "created": "2022-02-02 00:00:49.231+02",
      "createdBy": "Marie Curie"
    }
  ]
}
