@tailwind base;
@tailwind components;
@tailwind utilities;

[type=checkbox] {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.55rem;
  cursor: pointer;
  accent-color: forestgreen;
}

.text-center tr > td {
  text-align: center;
  vertical-align: middle;
}

.bg-sidebar {
  background: linear-gradient(-45deg, #7931c5, #3cbfe7, #23d54d, #d5cc23);
  background-size: 300% 100%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}